<a href="https://colab.research.google.com/github/AbhijnaChoodi/Cipher/blob/main/Decrypt_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Had to decipher this series of numbers

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x = '''422627312313271342343623
131918252544132741343644
134226273823132131343826
233713243436133244133836
343826161227132227223314
381342183338133834133227
373713324413342222371324
343613382618381319312318
291342183632133823363618
273312322745183315133826
234413371844133127412322
133826233623133933222336
133826231337393314371336
232725331238262313363931
233613342413382634372313
243139272213371833223715
133826231332183738233613
342413382618381332443738
272118311331183322123826
234413371844133433314413
313437381338361841233123
363713261822133723233313
262336131944132126183321
2316'''

In [ ]:
lines = []
for i in x.split('\n'):
  lines.append(i)

print(lines[1])

131918252544132741343644

In [ ]:
letters = []

clean_string = x.replace(" ", "").replace("\n", "")

for k in range(0,len(clean_string),2):
  number =0

  number = int(clean_string[k])*10 + int(clean_string[k+1])

  letters.append(number)

  if k+1==len(clean_string)-1:
    break;


print(letters)

[42, 26, 27, 31, 23, 13, 27, 13, 42, 34, 36, 23, 13, 19, 18, 25, 25, 44, 13, 27, 41, 34, 36, 44, 13, 42, 26, 27, 38, 23, 13, 21, 31, 34, 38, 26, 23, 37, 13, 24, 34, 36, 13, 32, 44, 13, 38, 36, 34, 38, 26, 16, 12, 27, 13, 22, 27, 22, 33, 14, 38, 13, 42, 18, 33, 38, 13, 38, 34, 13, 32, 27, 37, 37, 13, 32, 44, 13, 34, 22, 22, 37, 13, 24, 34, 36, 13, 38, 26, 18, 38, 13, 19, 31, 23, 18, 29, 13, 42, 18, 36, 32, 13, 38, 23, 36, 36, 18, 27, 33, 12, 32, 27, 45, 18, 33, 15, 13, 38, 26, 23, 44, 13, 37, 18, 44, 13, 31, 27, 41, 23, 22, 13, 38, 26, 23, 36, 23, 13, 39, 33, 22, 23, 36, 13, 38, 26, 23, 13, 37, 39, 33, 14, 37, 13, 36, 23, 27, 25, 33, 12, 38, 26, 23, 13, 36, 39, 31, 23, 36, 13, 34, 24, 13, 38, 26, 34, 37, 23, 13, 24, 31, 39, 27, 22, 13, 37, 18, 33, 22, 37, 15, 13, 38, 26, 23, 13, 32, 18, 37, 38, 23, 36, 13, 34, 24, 13, 38, 26, 18, 38, 13, 32, 44, 37, 38, 27, 21, 18, 31, 13, 31, 18, 33, 22, 12, 38, 26, 23, 44, 13, 37, 18, 44, 13, 34, 33, 31, 44, 13, 31, 34, 37, 38, 13, 38, 36, 18, 41, 23, 31, 23, 36, 37, 13, 26, 18, 22, 13, 37, 23, 23, 33, 13, 26, 23, 36, 13, 19, 44, 13, 21, 26, 18, 33, 21, 23, 16]

In [ ]:
from collections import Counter
frequency = Counter(letters)

# Print frequency list as a vertical column
for num, freq in sorted(frequency.items()):
    print(f"{num}: {freq}")

12: 4
13: 48
14: 2
15: 2
16: 2
18: 17
19: 3
21: 4
22: 10
23: 25
24: 5
25: 3
26: 16
27: 13
29: 1
31: 11
32: 7
33: 12
34: 13
36: 17
37: 16
38: 23
39: 4
41: 3
42: 5
44: 11
45: 1

In [ ]:
positions = [index for index, value in enumerate(letters) if value == 45]

# Print the positions
print(positions)

[113]

In [ ]:
print(len(frequency))

27

In [ ]:
result = []

for i in range(1, len(letters)-1):  # Start from 1, end at len-1 to avoid out-of-bounds
    if letters[i-1] == 13 and letters[i+1] == 13:
        result.append((letters[i], i))

print(result)

[(27, 6)]

In [ ]:
sequence = [13, 27, 13]
count = 0

# Loop through the list and check for the sequence
for i in range(len(letters) - len(sequence) + 1):
    if letters[i:i + len(sequence)] == sequence:
        count += 1

print(count)

1

In [ ]:
# Initialize an empty list to store the values between 13s
numbers_between_13s = []

# Iterate through the list to find 13s and extract the 3 numbers between them
for i in range(len(letters) - 4):  # len(sequence) - 1, plus 3 numbers in between
    if letters[i] == 13 and letters[i + 4] == 13:
        numbers_between_13s.append(tuple(letters[i + 1:i + 4]))

# Count the frequency of each instance
frequency = Counter(numbers_between_13s)

# Print the frequencies
for sequence, count in frequency.items():
    print(f"Sequence {sequence} occurs {count} times")

Sequence (24, 34, 36) occurs 2 times
Sequence (37, 18, 44) occurs 2 times
Sequence (38, 26, 23) occurs 2 times
Sequence (26, 18, 22) occurs 1 times
Sequence (26, 23, 36) occurs 1 times

In [ ]:
numbers_between_13s = []

# Iterate through the list to find 13s and extract the 2 numbers between them
for i in range(len(letters) - 3):  # len(sequence) - 1, plus 2 numbers in between
    if letters[i] == 13 and letters[i + 3] == 13:
        numbers_between_13s.append(tuple(letters[i + 1:i + 3]))

# Count the frequency of each instance
frequency = Counter(numbers_between_13s)

# Print the frequencies
for sequence, count in frequency.items():
    print(f"Sequence {sequence} occurs {count} times")

Sequence (32, 44) occurs 2 times
Sequence (38, 34) occurs 1 times
Sequence (34, 24) occurs 2 times
Sequence (19, 44) occurs 1 times

In [ ]:
# Initialize an empty list to store the values between 13s
numbers_between_13s = []

# Set of numbers to look for between the 13s
target_numbers = {12, 14, 15, 16}

# Iterate through the list to find 13s and check for target numbers between them
for i in range(len(letters) - 1):
    if letters[i] == 13:
        # Find the next 13
        for j in range(i + 1, len(letters)):
            if letters[j] == 13:
                # Extract the numbers between the two 13s
                numbers_between = letters[i + 1:j]
                # Check if any target numbers are present in the sequence
                if any(num in target_numbers for num in numbers_between):
                    numbers_between_13s.append(tuple(numbers_between))
                break  # Once the next 13 is found, stop and move to the next 13

# Count the frequency of each sequence
frequency = Counter(numbers_between_13s)

# Print the frequencies
for sequence, count in frequency.items():
    print(f"Sequence {sequence} occurs {count} times")

Sequence (38, 36, 34, 38, 26, 16, 12, 27) occurs 1 times
Sequence (22, 27, 22, 33, 14, 38) occurs 1 times
Sequence (38, 23, 36, 36, 18, 27, 33, 12, 32, 27, 45, 18, 33, 15) occurs 1 times
Sequence (37, 39, 33, 14, 37) occurs 1 times
Sequence (36, 23, 27, 25, 33, 12, 38, 26, 23) occurs 1 times
Sequence (37, 18, 33, 22, 37, 15) occurs 1 times
Sequence (31, 18, 33, 22, 12, 38, 26, 23, 44) occurs 1 times

In [ ]:
key_dict = {
    18: 'a',
    19: 'b',
    21: 'c',
    22: 'd',
    23: 'e',
    24: 'f',
    25: 'g',
    26: 'h',
    27: 'i',
    28: 'j',
    29: 'k',
    31: 'l',
    32: 'm',
    33: 'n',
    34: 'o',
    36: 'r',
    37: 's',
    38: 't',
    39: 'u',
    41: 'v',
    42: 'w',
    43: 'x',
    44: 'y',
    45: 'z',
    16:'.',
    14:'\'',
    15:',',
    12: ' - ',
    13: ' '

}

paragraph = ''.join([key_dict[num] for num in letters])

# Print the result
print(paragraph)

while i wore baggy ivory white clothes for my troth. - i didn't want to miss my odds for that bleak warm terrain - mizan, they say lived there under the sun's reign - the ruler of those fluid sands, the master of that mystical land - they say only lost travelers had seen her by chance.